* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}


/* layout */
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout_footer {
    margin-top: auto;
}


/* container*/
.container {
    width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}


/* site-header */
.site-header {
    display: flex;
    align-items: center;
    height: 70px;
    background: #000;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* logo */
.site-logo__img {
    width: 79px;
    display: block;
}


/* site-menu */
.site-menu {
    display: flex;
    list-style: none;
}

.site-menu__link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: color 400ms;
}

.site-menu__link:hover {
    color: #ff8b38;
}

.site-menu__item {
    margin: 0 0 0 48px;
}


/* site-footer */
.site-footer {
    background: #000;
    color: #fff;
    padding: 14px 0;
}

.site-footer__social {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.site-footer__copy {
    font-size: 15px;
    text-align: center;
}


/* site-footer coscades */
.site-footer .social__item {
    margin: 0 14px;
}


.site-footer .social__link {
    color: #ccc;
}


/* social */
.social {
    list-style: none;
    display: flex;
    align-items: center;
}

.social__link {
    font-size: 23px;
    text-decoration: none;
}


