* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    line-height: 1.4;
}

::-webkit-input-placeholder {
    color: #bdbdbd;
}

::-moz-placeholder {
    color: #bdbdbd;
}

:-moz-placeholder {
    color: #bdbdbd;
}

:-ms-input-placeholder {
    color: #bdbdbd;
}

p {
    margin-bottom: 30px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    p {
        margin-bottom: 15px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    p {
        margin-bottom: 10px;
    }
}


/* layout */
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .layout {
        overflow-x: hidden;
    }
}

.layout__header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 5px 3px rgba(0, 0, 0, .3);
}

.layout__content {
    padding-top: 70px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .layout__content {
        padding-top: 60px;
    }
}

.layout__footer {
    margin-top: auto;
}


/* container*/
.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* lg (desktop) */
@media (min-width: 1170px) {
    .container {
        width: 1130px;
    }
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .container {
        width: 970px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 750px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}


/* site-header */
.site-header {
    display: flex;
    align-items: center;
    height: 70px;
    background: #000;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .site-header {
        height: 60px;
    }
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .site-header__menu {
        display: none;
    }
}

.site-header__menu-toggler {
    display: none;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .site-header__menu-toggler {
        display: block;
    }
}


/* logo */
.site-logo__img {
    width: 79px;
    display: block;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .site-logo__img {
        width: 72px;
    }
}


/* site-menu */
.site-menu {
    display: flex;
    list-style: none;
}

.site-menu__link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: color 400ms;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .site-menu__link {
        font-size: 14px;
    }
}

.site-menu__link:hover {
    color: #ff8b38;
}

.site-menu__item {
    margin: 0 0 0 48px;
}


/* hamburger */
.hamburger {
    display: block;
    padding: 0;
}

.hamburger-box {
    display: block;
    width: 30px;
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
    background-color: #eaeaea;
    width: 30px;
}

.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before {
    background-color: #eaeaea;
}


/* site-footer */
.site-footer {
    background: #000;
    color: #fff;
    padding: 14px 0;
}

.site-footer__social {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .site-footer__social {
        margin-bottom: 15px;
    }
}

.site-footer__copy {
    margin-bottom: 0;
    font-size: 15px;
    text-align: center;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .site-footer__copy {
        font-size: 13px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .site-footer__copy {
        font-size: 12px;
    }
}

/* site-footer cascades */
.site-footer .social__item {
    margin: 0 14px;
}

.site-footer .social__link {
    color: #ccc;
}


/* social */
.social {
    list-style: none;
    display: flex;
    align-items: center;
}

.social__link {
    font-size: 23px;
    text-decoration: none;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .social__link {
        font-size: 21px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social__link {
        font-size: 18px;
    }
}

/* buttom */
.btn {
    max-width: 100%;
	padding: 12px 30px;
	border: 1px solid transparent;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    pointer-events: none;
  }
  
.btn._color_white {
    color: #fff; 
    background: transparent;
    border-color: #f5f5f5;
}
  
/* Модификаторы цвета */
.btn._color_white:after {
    border-color: #e6e6e6;
}
  
.btn._color_white:hover {
    color: #fff;
}
  
.btn._color_orange {
      color: #fff; 
      background: #ff8b38;
}
  
.btn._color_orange:hover {
    color: #fff;
}
  
/* Модификаторы бордера */
.btn._border-radius {
    border-radius: 4px;
}
  
/* Модификаторы ширины */
.btn._full-width {
    width: 100%;
}


/* hero */
.hero {
    padding: 110px 0 140px 0; 
    background: url('images/hero.bg.jpg') center no-repeat #9a9a9a;
    color: #fff;
    background-size: cover;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .hero {
        padding: 100px 0 130px 0;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        padding: 75px 0 93px 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero {
        padding: 0;
        background: none;
    }
}

.hero__wrapper {
    display: flex;
    align-items: flex-start;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__wrapper {
        flex-direction: column;
        align-items: center;
        margin: 0 -15px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero__wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.hero__content {
    flex: 0 0 auto;
    width:  calc(100% - 360px);
    padding: 0 240px 0 0;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 600px;
        text-align: center;
    }
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .hero__content {
        padding: 0 100px 0 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        background: url(images/hero.bg.jpg) center no-repeat #9a9a9a;
        padding: 50px 15px 50px 15px;
    }
}

.hero__logo {
    margin: 0 0 22px 0;
}

.hero__logo .site-logo__img {
    width: 175px;    
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .hero__logo .site-logo__img {
        width: 158px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__logo .site-logo__img {
        width: 135px;
    }
}

.hero__title {
    font-size: 36px;
    font-weight: 400;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero__title {
        padding: 0 50px;
        font-size: 28px;
    }
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .hero__title {
        font-size: 28px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__title {
        padding: 0 5px;
        font-size: 22px;
    }
}

.hero__title:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    margin: 30px 0 35px 4px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero__title:after {
        margin-left: auto;
        margin-right: auto;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__title:after {
        margin-left: auto;
        margin-right: auto;
    }
}

.hero__text {
    margin: 0 0 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero__text {
        margin-bottom: 6px;
        padding: 0 36px;
    }
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .hero__text {
        font-size: 14px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__text {
        font-size: 14px;
    }
}

.hero__form {
    flex: 0 0 auto;
    width: 360px;
    padding: 25px 0 0;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero__form {
        padding-top: 80px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero__form {
        width: 100%;
        padding: 40px 15px;
    }
}


/* hero-form */
.hero-form {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
}

.hero-form__header {
    background: #f5f5f5;
    color: #333;
    border-radius: 4px 4px 0 0;
    padding: 14px 10px;
}

.hero-form__title {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.hero-form__title-text-lead {
    text-transform: uppercase;
    color: #ff8b38;
}

.hero-form__body {
    padding: 30px 38px 12px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .hero-form__body {
        padding: 30px 20px 12px;
    }
}

.hero-form__field {
    margin: 0 0 30px;
}

.hero-form__submit {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #ff8b38;
    width: 100%;
    border: 0 none;
    padding: 19px 10px;
    border-radius: 0 0 4px 4px;
}


/* textfield */
.textfield__control {
    border: 0 none;
    border-bottom: 1px solid #b6b6b6;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    color: #333;
}

.textfield__control:focus {
    outline: 0 none;
}

/* textarea */
.textarea__control {
    display: block;
    resize: none;
    width: 100%;
    height: 153px;
    font-size: 14px;
    padding: 7px 14px;
    color: #333;
    border: 0 none;
    border-bottom: 1px solid #b6b6b6;
    font-family: 'Open Sans', sans-serif;
}

.textarea__control:focus {
    outline: 0 none;
}


/* social-media */
.social-media {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
    padding: 18px 0;
    position: relative;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social-media {
        margin-bottom: 20px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    }
}

/* sm (tablets portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    .social-media {
        padding: 12px 0;
    }
}

.social-media__wrapper {
    display: flex;
    align-items: center;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social-media__wrapper {
        flex-direction: column;
    }
}

.social-media__content {
    width: 408px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social-media__content {
       width: 100%;
       margin-bottom: 12px; 
    }
}

.social-media__text {
    font-size: 14px;
    color: #86878b;
    margin: 0;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .social-media__text {
        font-size: 12px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social-media__text {
        font-size: 12px;
    }
}

.social-media__text p {
    margin-bottom: 0;
}

.social-media__title {
    margin: 0 0 3px;
}

.social-media__social {
    width: 692px;
    padding: 0 0 0 22px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social-media__social {
        width: 100%;
        padding: 0;
    }
}

.social-media__social .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media__social .social__link {
    font-size: 48px;
    color: #ccc;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .social-media__social .social__link {
        font-size: 32px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .social-media__social .social__link {
        font-size: 32px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .social-media__social .social__link {
        font-size: 24px;
    }
}


/* page-title */
.page-title {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .page-title {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

.page-title._decor:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    margin: 25px 0 25px 0;
    background: #ff8b38;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}


/* content-block */
.content-block {
    background: #fff;
    padding: 70px 0;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .content-block {
        padding: 40px 0;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .content-block {
        padding: 50px 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block {
        padding: 20px 0;
    }
}

.content-block__wrapper {
    display: flex;
    align-items: center;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block__wrapper {
        flex-direction: column;
    }
}

.content-block__content {
    padding: 0 0 0 190px;
}

/* md (tablets landscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .content-block__content {
        padding: 0 0 0 50px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .content-block__content {
        padding: 0 0 0 50px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block__content {
        padding: 40px 0 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block__title {
        text-align: center;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block__title.page-title::after {
        margin: 25px auto;
    }
}

.content-block__img {
    display: block;
    width: 454px;
    box-shadow:  0 10px 20px rgba(0, 0, 0, .25);
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .content-block__img {
        width: 454px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .content-block__img {
        width: 350px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block__img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}

.content-block__text {
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
}


/* content-block._reverse */
.content-block._reverse {
    background: #f5f5f5;
}

.content-block._reverse .content-block__img-box {
    order: 2;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block._reverse .content-block__img-box {
        order: 1;
    }
}

.content-block._reverse .content-block__content {
    order: 1;
}

.content-block._reverse .content-block__content {
    padding: 0 190px 0 0;
}

/* md (tablets landscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .content-block._reverse .content-block__content {
        padding: 0 50px 0 0;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .content-block._reverse .content-block__content {
        padding: 0 50px 0 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block._reverse .content-block__content {
        padding: 0 60px 0 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .content-block._reverse .content-block__content {
        order: 2;
        padding: 40px 0 0;
    }
}


/* tabs */
.tabs {
    padding: 148px 0 114px;
    background: #f5f5f5;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .tabs {
        padding: 60px 0 65px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .tabs {
        padding: 60px 0 65px;
    }
}

.tabs__wrapper {
    display: flex;
    align-items: flex-start;
}

.tabs__btns {
    width: 110px;
    flex: 0 0 auto;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .tabs__btns {
        width: 100px;
    }
}

.tabs__btn {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 1px;
    background: #333;
    color: #fff;
    border: 0 none;
}

.tabs__btn:focus {
    outline: 0 none;
}

.tabs__btn:first-child {
    border-radius: 4px 4px 0 0;
}

.tabs__btn:last-child {
    border-radius: 0 0 4px 4px;
}

.tabs__btn-height-holder {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.tabs__btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.tabs__btn._active {
    background: #ff8b38;
}

.tabs__slider {
    width: calc(100% - 110px);
    flex: 0 0 auto;
    padding-left: 92px;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .tabs__slider {
        padding-left: 40px;
    }
}

.tabs__slide-wrapper {
    display: flex;
    align-items: flex-start;
}

.tabs__slide-content {
    width: calc(100% - 110px);
    flex: 0 40 auto;
}

.tabs__slide-img-box {
    width: 380px;
    display: flex;
    justify-content: center;
    padding-right: 0;

}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .tabs__slide-img-box {
        width: 350px;
    }
}

.tabs__slide-title {
    margin-bottom: 44px;
}

.tabs__slide-text {
    font-size: 14px;
    color: #86878b;
}


/* section-header */
.section-header__title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 400;
    color: #212121;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .section-header__title {
        font-size: 28px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .section-header__title {
        font-size: 26px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .section-header__title {
        font-size: 24px;
    }
}
    
.section-header__title:after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin: 20px auto 25px;
    background: #ff8b38;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.section-header__subtitle {
    text-align: center;
    font-family: 'Open suns', sans-serif;
    font-size: 14px;
    color: #86878b;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .section-header._light .section-header__subtitle {
        padding: 0 0 25px 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .section-header._light .section-header__subtitle {
        padding: 0 0 25px 0;
    }
}

/* section-header _light */
.section-header._light .section-header__title {
    color: #fff;
}
    
.section-header._light .section-header__title:after {
    background: #fff;
}

.section-header._light .section-header__subtitle {
    color: #fff;
}


/* why */
.why {
    background: #fff;
    padding: 100px 0 70px;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .why {
        padding: 60px 0 40px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .why {
        padding: 50px 0 40px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .why {
        padding: 40px 0 40px;
    }
}

.why__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .why__wrapper {
        flex-direction: column;
    }
}

.why .section-header {
    margin: 0 0 80px;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .why .section-header {
        margin: 0 0 40px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .why .section-header {
        margin: 0 0 40px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .why .section-header {
        margin: 0 0 50px;
    }
}

.why__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    font-size: 32px;
}

/* md (tablets landscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .why__item {
        font-size: 28px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .why__item {
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .why__item:last-child {
        margin-bottom: 0;
    }
}

.why__item-icon-box {
    width: 2.1875em; /* 70px / 32px * 1em */
    height: 2.1875em; /* 70px / 32px * 1em */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    margin: 0 0 23px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .why__item-icon-box {
        margin: 0 0 20px;
    }
}

.why__item-icon {
    font-size: 1em; /* 32px/32px * 1em */
    color: #ff8b38;
}

.why__item-title {
    margin: 0 0 24px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .why__item-title {
        margin: 0 0 10px;
        font-size: 18px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .why__item-title {
        margin: 0 0 15px;
    }
}

.why__item-text {
    text-align: center;
    font-family: 'Open suns', sans-serif;
    font-size: 14px;
    color: #86878b;
    padding: 0 5px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .why__item-text {
        padding: 0 10px;
        font-size: 12px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .why__item-text {
        padding: 0;
        font-size: 12px;
    }
}


/* pricing-options */
.pricing-options {
    padding: 102px 0 95px;
    background: #f5f5f5;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .pricing-options {
        padding: 60px 0 65px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-options {
        padding: 65px 0 65px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .pricing-options {
        padding: 52px 0 45px;
    }
}

.pricing-options__wrapper:not(.slick-initialized) {
    display: flex;
}

.pricing-options .section-header {
    margin-bottom: 75px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-options .section-header {
        margin-bottom: 55px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .pricing-options .section-header {
        margin-bottom: 20px;
    }
}

.pricing-options__wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0 -20px;
}

.pricing-options__wrapper.slick-slider {
    display: block;
    margin: 0;
}

.pricing-options__item {
    width: 33.3333%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-options__item {
        padding: 0 10px;
    }
}

.pricing-option {
    position: relative;
}

.pricing-option__header {
    margin-bottom: 1px;
}

.pricing-option__title {
    background: #333;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-option__title {
        font-size: 14px;
        padding: 11px;
    }
}

.pricing-option__price {
    padding: 5px 0 20px;
    background: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-option__price {
        padding: 5px 0 15px;
    }
}

.pricing-option__total {
    display: block;
    margin-bottom: 15px;
    color: #fff;
    font-size: 94px;
    line-height: 1;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-option__total {
        font-size: 72px;
    }
}

.pricing-option__total-cur {
    font-size: 0.380952380952381em; /* 32px / 84px * 1em */
}

.pricing-option__period {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    opacity: .5;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-option__period {
        font-size: 12px;
    }
}

.pricing-option__label {
    background: #ff8b38;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 0;
    text-align: center;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-option__label {
        font-size: 12px;
    }
}

.pricing-option__label-text {
    display: block;
    padding: 9px 0;
}

.pricing-option__features {
    list-style: none;
    box-shadow:  0 10px 20px rgba(0, 0, 0, .05);
}

.pricing-option__feature {
    margin-bottom: 1px;
    text-align: center;
    background: #fff;
    color: #86878b;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .pricing-option__feature {
        font-size: 11px;
        padding: 8px 0;
    }
}

.pricing-options .slick-dots {
    display: none;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .pricing-options .slick-dots {
        display: flex;
    }
}



/* reviews */
.reviews {
    padding: 100px 0;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .reviews {
        padding: 60px 0;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .reviews {
        padding: 50px 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .reviews {
        padding: 40px 0;
    }
}

.reviews .section-header {
    margin: 0 0 50px;
}

.reviews__wrapper:not(.slick-initialized) {
    display: flex;
    margin: 0 -15px;
}

.reviews__item {
    width: 33.3333%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.reviews__item.slick-slide {
    display: flex;
}

.reviews__item-text {
    width: 273px;
    padding: 20px 15px 25px;
    margin: 0 0 23px;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    color: #86878b;
    font-size: 14px;
    font-style: italic;
}

.reviews__item-text:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 22px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 16px solid #f5f5f5;
}

.reviews__item-text p:last-child {
    margin-bottom: 0;
}

.reviews__item-autor {
    display: flex;
    align-items: center;
}

.reviews__item-autor-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: center no-repeat;
    background-size: cover;
}

.reviews__item-autor-wrapper {
    padding: 0 0 0 15px;
}

.reviews__item-autor-name {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

.reviews__item-autor-post {
    color: #86878b;
    font-size: 14px;
}


/* download */
.download {
    padding: 75px 0 60px;
    text-align: center;
    background: url('images/hero.bg.jpg') center no-repeat #9a9a9a;
    background-size: cover;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .download {
        padding: 60px 0;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .download {
        padding: 40px 0;
    }
}

.download__btn {
    display: inline-block;
}


/* contact-form */
.contact-form {
    padding: 100px 0 82px;
}

/* md (tablets lanscape) */
@media (min-width: 1024px) and (max-width: 1169px) {
    .contact-form {
        padding: 60px 0 60px;
    }
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact-form {
        padding: 50px 0 42px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .contact-form {
        padding: 40px 0 32px;
    }
}

.contact-form__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .contact-form__wrapper {
        flex-direction: column;
        padding-top: 30px;
        margin: 0;
    }
}

.contact-form__fieldset {
    width: 50%;
    padding: 0 15px;
}

/* sm (tablets portret) */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact-form__fieldset {
        width: 50%;
        padding: 0 15px;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .contact-form__fieldset {
        width: 100%;
        padding: 0;
    }
}

/* xs (mobile) */
@media (max-width: 767px) {
    .contact-form__fieldset:first-child {
        margin-bottom: 30px;
    }
}

.contact-form__field {
    margin-bottom: 30px;
}

.contact-form__field:last-child {
    margin-bottom: 0;
}

.contact-form__btn-box {
    padding-top: 48px;
    text-align: center;
}

/* xs (mobile) */
@media (max-width: 767px) {
    .contact-form__btn-box {
        padding-top: 30px;
    }
}


/* slick-dots */
.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 30px;
}


.slick-dots li {
    margin: 0 4px;
}

.slick-dots button {
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: #333;
    font-size: 0;
}

.slick-dots .slick-active button {
    background: #ff8b38;
}

.slick-dots button:focus {
    outline: none;
}


/* @todo remove */
@media (max-width: 1169px) {
    .tabs {
        display: none;
    }
}
